---
layout: default
---

<div class="teaserimage">
    <div class="teaserimage-image" {% if site.cover %} style="background-image: url({{ site.cover | prepend: site.baseurl }})"{% endif %}>
    </div>
    <h1>Hang Yuan</h1>
</div>

<!-- blog desp 
<header class="blog-header">
    <h2 class="blog-description">{{ site.description }}</h2>
    <div class="custom-links">
      {% for social in site.social %}
        {% if social.url %}
            <a class="icon-{{ social.icon }}" href="{{ social.url }}" {% if social.desc %} title="{{ social.desc }}"{% endif %}">
              <i class="fa fa-{{ social.icon }}"></i>
            </a>
            &nbsp;&nbsp;·&nbsp;&nbsp;
        {% endif %}
      {% endfor %}
      <a href={{ "/about/" | prepend: site.baseurl }}>About</a>
    </div>
</header>
-->

<main class="content" role="main">

    <div class="cf frame">
      <div class="landing cf">
        <div class="isLeft cf">

          <section class="post-content">
            <h1>Update</h1>
            <sub><sup> 
            <ul>
              <li>June, 2023 Our Queer in AI paper received the best paper award at FAccT!</li>
              <li>June, 2022 My first first-author PhD paper just went live on arXiv 🔥  Check it out: <a href="https://oxwearables.github.io/ssl-wearables/">Self-supervised Learning for Human Activity Recognition Using 700,000 Person-days of Wearable Data</a> </li>
              <li>May, 2022, Talk on ML4PopHealth at OXSTAT</li>
              <li>December, 2021, Best poster award@CDT-HDS Symposium</li>
            </ul>
            </sup></sub>
          </section>


          <h1>Posts</h1>
          {% for post in site.posts %}
            {% assign currentdate = post.date | date: "%Y" %}
            {% if forloop.first == true %}
              {% if currentdate != date %}
                 <!-- <h3 id="y{{currentdate}}">{{ currentdate }}</h3> -->
                {% assign date = currentdate %} 
              {% endif %}
            {% else %}
                {% if currentdate != date %}
                  <!-- </br></br> -->
                  <!-- <h3 id="y{{currentdate}}">{{ currentdate }}</h3> -->
                  {% assign date = currentdate %} 
                {% endif %}
            {% endif %}

            <article class="post" itemscope itemtype="http://schema.org/BlogPosting" role="article">
              <div class="article-item">
                <div class="post-meta">
                 
                </div>
                <header class="post-header">
                  <time datetime="{{ post.date | date: '%y %m %d' | upcase }}">{{ post.date | date: "%Y-%m-%d" | upcase }}</time>
                  <h2 class="post-title" itemprop="name"><a href="{{ post.url | prepend: site.baseurl }}" itemprop="url">{{ post.title }}</a></h2>
                </header>
              </div>
            </article>
          {% endfor %}
        </div>


        <div class="isRight">
          <div class="profi-nav">
            <h2>Hang Yuan 🏳️‍🌈</h2>
            <p>I use wearables to improve population health.</p>
            <p>ML4Health@<a href="https://http://www.ox.ac.uk">Oxford</a></p>
            <p>Previously: <a href="https://ai.facebook.com">Meta</a>, <a href="https://www.bloomberg.com">Bloomberg</a>, <a href="https://www.is.mpg.de">MPI-IS</a>, <a href="https://www.jacobs-university.de">Jacobs</a>, <a href="https://www.epfl.ch">EPFL</a> and <a href="https://www.cmu.edu">CMU</a> .</p>
            <p>Click <a href="/assets/files/cv.pdf">here</a> for my CV, and <a href="https://hangyuan.xyz/pages/cv_failures">here</a> for my CV of failures.</p>
            <p><a href="https://scholar.google.com/citations?user=X6F3Nx8AAAAJ&hl=en"><i class="fab fa-google"></i> Google Scholar</a>, <a href="https://twitter.com/angerhang "><i class="fab fa-twitter"></i> Twitter</a>, <a href="https://github.com/angerhang"><i class="fab fa-github"></i> Github</a>, <a href="https://www.zhihu.com/people/yuan-hang-52-19">知乎</a>, 
              <a href="https://www.linkedin.com/in/hang-calvin-yuan-ba446456/">Linkedin</a>, and subscribe  <a href="http://eepurl.com/gqIM4L">here</a>.</p>
            <p></br> </p>
          </div>

          <nav class="panel-nav">
            <ul>
                <a href="{{ site.baseurl }}{% link pages/about.md %}"><li>About</li></a>
                <a href="{{ site.url }}{{ site.baseurl }}"><li>Posts</li></a>
                <a href="{{ site.baseurl }}{% link pages/research.md %}"><li>Research</li></a>
                <a href="{{ site.baseurl }}{% link pages/news.md %}"><li>News</li></a>
            </ul>

          </nav>
            
        </div>
      </div>


    <!-- change to scroll 
    <nav class="pagination" role="navigation">
      {% if paginator.next_page %}
        <a class="newer-posts" href={{ "/page" | prepend: site.baseurl | append: paginator.next_page }}>&larr; Older posts</a>
      {% endif %}
      <span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
      {% if paginator.previous_page %}
        {% if paginator.page == 2 %}
          <a class="older-posts" href={{ "/" | prepend: site.baseurl }}>Newer posts &rarr;</a>
        {% else %}
          <a class="older-posts" href={{ "/page" | prepend: site.baseurl | append: paginator.previous_page }}>Newer posts &rarr;</a>
        {% endif %}
      {% endif %}
    </nav>
      -->



    <!-- {{!! After all the posts, we have the previous/next pagination links }}
    {{pagination}} -->

</main>

