<!DOCTYPE html>
<html>

{% include head.html %}

<body>

  {% include header.html %}

  <!-- content start -->

  <div class="page-content">
    <div class="wrapper">
      <div class="teaserimage">
        <div class="teaserimage-image" style="background-image: url({% if page.image %}{{ page.image }}{% endif %})">
          Article Image
        </div>
        {% if page.cover_name %}
        <h1>{{ page.cover_name }}</h1>
        {% else %}
        <h1>Hang Yuan</h1>
        {% endif %}
      </div>


      <main class="content" role="main">

        <div class="cf frame">
          <div class="landing cf">
            <div class="isLeft cf">
              <section class="post-content">
                <div class="news">
                  {{content}}
                </div>
              </section>
            </div>

            <div class="isRight">
              <div class="profi-nav">
                <h2>Hang Yuan 🏳️‍🌈</h2>
                <p>Using wearables to improve human health.</p>
                <p>CS PhD candiate@<a href="https://http://www.ox.ac.uk">Oxford</a></p>
                <p>Spent time with: <a href="https://www.bloomberg.com">Bloomberg</a>, <a
                    href="https://www.is.mpg.de">MPI-IS</a>, <a href="https://www.jacobs-university.de">Jacobs</a>, <a
                    href="https://www.epfl.ch">EPFL</a> and <a href="https://www.cmu.edu">CMU</a> .</p>
                <p>Click <a href="/assets/files/cv.pdf">here</a> for my CV, and <a
                    href="https://hangyuan.xyz/pages/cv_failures">here</a> for my CV of failures.</p>
                <p><a href="https://scholar.google.com/citations?user=X6F3Nx8AAAAJ&hl=en"><i class="fab fa-google"></i>
                    Google Scholar</a>, <a href="https://twitter.com/angerhang "><i class="fab fa-twitter"></i>
                    Twitter</a>, <a href="https://github.com/angerhang"><i class="fab fa-github"></i> Github</a>, <a
                    href="https://www.zhihu.com/people/yuan-hang-52-19">知乎</a>,
                  <a href="https://www.linkedin.com/in/hang-yuan-ba446456/">Linkedin</a>, and subscribe <a
                    href="https://buttondown.com/angerhangy?tag=sandwich">here</a>.
                </p>
                <p></br> </p>
              </div>

              <nav class="panel-nav">
                <ul>
                  <a href="{{ site.url }}{{ site.baseurl }}">
                    <li>Essays</li>
                  </a>
                  <a href="{{ site.baseurl }}{% link pages/research.md %}">
                    <li>Research</li>
                  </a>
                </ul>

              </nav>

            </div>
          </div>

        </div>
    </div>

    <!-- content end -->

    {% include footer.html %}
    {% include javascripts.html %}

</body>

</html>